# **Pandas**

### Start coding

#### Importing data to pandas

In [1]:
# Import pandas
import pandas as pd

# Load data
df = pd.read_csv("pokemon_data.csv")

# Output
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [2]:
# txt Data
df_txt = pd.read_csv("pokemon_data.txt", delimiter="\t")

# Output
df_txt.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [3]:
# Excel(xlsx) data
df_excel = pd.read_excel("pokemon_data.xlsx")

# Output
df_excel.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

#### Slicing

**Column/s**

In [ ]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [4]:
# Choosing specific columns
df[["Name", "Legendary", "Generation"]].head(10)

                        Name  Legendary  Generation
0                  Bulbasaur      False           1
1                    Ivysaur      False           1
2                   Venusaur      False           1
3      VenusaurMega Venusaur      False           1
4                 Charmander      False           1
5                 Charmeleon      False           1
6                  Charizard      False           1
7  CharizardMega Charizard X      False           1
8  CharizardMega Charizard Y      False           1
9                   Squirtle      False           1

In [5]:
# Choosing specific columns
df.iloc[:, 1:5].head(10)

                        Name Type 1  Type 2  HP
0                  Bulbasaur  Grass  Poison  45
1                    Ivysaur  Grass  Poison  60
2                   Venusaur  Grass  Poison  80
3      VenusaurMega Venusaur  Grass  Poison  80
4                 Charmander   Fire     NaN  39
5                 Charmeleon   Fire     NaN  58
6                  Charizard   Fire  Flying  78
7  CharizardMega Charizard X   Fire  Dragon  78
8  CharizardMega Charizard Y   Fire  Flying  78
9                   Squirtle  Water     NaN  44

**Row**

iloc

In [6]:
df.iloc[[9, 10, 11], ] # iloc means integer location

# Cara nulis [row, column] --[[row1, row2, row3], column(s)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False

In [7]:
df.iloc[7, [1, -2, -1]]

Name          CharizardMega Charizard X
Generation                            1
Legendary                         False
Name: 7, dtype: object

In [ ]:
# Define variable
seratus_lima_ratus = df.iloc[99:500, [1, -2, -1]]

# Output
seratus_lima_ratus

                    Name  Generation  Legendary
99                Gastly           1      False
100              Haunter           1      False
101               Gengar           1      False
102    GengarMega Gengar           1      False
103                 Onix           1      False
..                   ...         ...        ...
495             Munchlax           4      False
496                Riolu           4      False
497              Lucario           4      False
498  LucarioMega Lucario           4      False
499           Hippopotas           4      False

[401 rows x 3 columns]

Latihan 1
---

Buatlah sebuah dataframe baru yang berisikan 77 row, dengan semua columns kecuali sp. attack dan sp. def

In [12]:
# Define variable
jawaban_soal_pertama = df.iloc[100:178, df.columns != -4]

# Output
jawaban_soal_pertama

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
100,93,Haunter,Ghost,Poison,45,50,45,115,55,95,1,False
101,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False
103,95,Onix,Rock,Ground,35,45,160,30,45,70,1,False
104,96,Drowzee,Psychic,NaN,60,48,45,43,90,42,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
173,159,Croconaw,Water,NaN,65,80,80,59,63,58,2,False
174,160,Feraligatr,Water,NaN,85,105,100,79,83,78,2,False
175,161,Sentret,Normal,NaN,35,46,34,35,45,20,2,False
176,162,Furret,Normal,NaN,85,76,64,45,55,90,2,False
177,163,Hoothoot,Normal,Flying,60,30,30,36,56,50,2,False

In [9]:
# Define variable
jawaban_soal_pertama_drop = df.drop(["Sp. Atk", "Sp. Def"], axis = 1)

jawaban_soal_pertama_drop

,#,Name,Type 1,Type 2,HP,Attack,Defense,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,65,1,False
...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,70,6,True

loc

In [14]:
df.loc[df['Name']== "Bulbasaur"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [11]:
new = df.loc[df["Legendary"] == True]

# Output
new

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

#### Filtering data

In [153]:
# Filter based on one column
df.loc[df["Legendary"] == True]

       #                      Name    Type 1  ... Speed  Generation  Legendary
156  144                  Articuno       Ice  ...    85           1       True
157  145                    Zapdos  Electric  ...   100           1       True
158  146                   Moltres      Fire  ...    90           1       True
163  150       MewtwoMega Mewtwo X   Psychic  ...   130           1       True
269  249                     Lugia   Psychic  ...   110           2       True
270  250                     Ho-oh      Fire  ...    90           2       True
417  380                    Latias    Dragon  ...   110           3       True
418  380         LatiasMega Latias    Dragon  ...   110           3       True
419  381                    Latios    Dragon  ...   110           3       True
420  381         LatiosMega Latios    Dragon  ...   110           3       True
424  383     GroudonPrimal Groudon    Ground  ...    90           3       True
425  384                  Rayquaza    Dragon  ...    95           3       True
426  384     RayquazaMega Rayquaza    Dragon  ...   115           3       True
427  385                   Jirachi     Steel  ...   100           3       True
540  483                    Dialga     Steel  ...    90           4       True
541  484                    Palkia     Water  ...   100           4       True
542  485                   Heatran      Fire  ...    77           4       True
544  487     GiratinaAltered Forme     Ghost  ...    90           4       True
545  487      GiratinaOrigin Forme     Ghost  ...    90           4       True
551  492          ShayminSky Forme     Grass  ...   127           4       True
553  494                   Victini   Psychic  ...   100           5       True
699  638                  Cobalion     Steel  ...   108           5       True
700  639                 Terrakion      Rock  ...   108           5       True
701  640                  Virizion     Grass  ...   108           5       True
704  642  ThundurusIncarnate Forme  Electric  ...   111           5       True
705  642    ThundurusTherian Forme  Electric  ...   101           5       True
706  643                  Reshiram    Dragon  ...    90           5       True
707  644                    Zekrom    Dragon  ...    90           5       True
708  645   LandorusIncarnate Forme    Ground  ...   101           5       True
709  645     LandorusTherian Forme    Ground  ...    91           5       True
710  646                    Kyurem    Dragon  ...    95           5       True
711  646        KyuremBlack Kyurem    Dragon  ...    95           5       True
712  646        KyuremWhite Kyurem    Dragon  ...    95           5       True
793  717                   Yveltal      Dark  ...    99           6       True
794  718          Zygarde50% Forme    Dragon  ...    95           6       True
795  719                   Diancie      Rock  ...    50           6       True
796  719       DiancieMega Diancie      Rock  ...   110           6       True
797  720       HoopaHoopa Confined   Psychic  ...    70           6       True
798  720        HoopaHoopa Unbound   Psychic  ...    80           6       True
799  721                 Volcanion      Fire  ...    70           6       True

[40 rows x 12 columns]

In [16]:
# Filter based on one column
df.loc[(df["Legendary"] == True) & (df["Attack"] > 120) & (df["HP"] < 60)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
428,386,DeoxysNormal Forme,Psychic,NaN,50,150,50,150,50,150,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True

In [17]:
df["Total kekuatan"] = df.iloc[:, 4:6].sum(axis=1)

# Output
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total kekuatan
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,150
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,210
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,190
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,240
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,190

Latihan 2
--
Buatlah sebuah dataframe baru berisi pokemon dengan total kekuatan > 200

In [19]:

df.loc[df["Total kekuatan"] > 200]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total kekuatan,Count
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,208,1
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,215,1
45,40,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,False,210,1
74,68,Machamp,Fighting,NaN,90,130,80,65,85,55,1,False,220,1
96,89,Muk,Poison,NaN,105,105,75,65,100,50,1,False,210,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True,257,1
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True,257,1
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,208,1
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,210,1
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,240,1

In [18]:
df["Count"] = 1

df.groupby(["HP"]).count()["Count"]

HP
1      1
10     1
20     6
25     2
28     1
      ..
165    1
170    1
190    1
250    1
255    1
Name: Count, Length: 94, dtype: int64

#### Na handling

In [20]:
df.isna().any()

#                 False
Name              False
Type 1            False
Type 2             True
HP                False
Attack            False
Defense           False
Sp. Atk           False
Sp. Def           False
Speed             False
Generation        False
Legendary         False
Total kekuatan    False
Count             False
dtype: bool

In [21]:
df.fillna("Unspecified", inplace = True)

In [ ]:
df.dropna(inplace = True)

In [22]:
df.info

<bound method DataFrame.info of        #                   Name   Type 1       Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass       Poison  45      49       49
1      2                Ivysaur    Grass       Poison  60      62       63
2      3               Venusaur    Grass       Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass       Poison  80     100      123
4      4             Charmander     Fire  Unspecified  39      52       43
..   ...                    ...      ...          ...  ..     ...      ...
795  719                Diancie     Rock        Fairy  50     100      150
796  719    DiancieMega Diancie     Rock        Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic        Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic         Dark  80     160       60
799  721              Volcanion     Fire        Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total kekuatan  Count
0         65       65     45           1      False              94      1
1         80       80     60           1      False             122      1
2        100      100     80           1      False             162      1
3        122      120     80           1      False             180      1
4         60       50     65           1      False              91      1
..       ...      ...    ...         ...        ...             ...    ...
795      100      150     50           6       True             150      1
796      160      110    110           6       True             210      1
797      150      130     70           6       True             190      1
798      170      130     80           6       True             240      1
799      130       90     70           6       True             190      1

[800 rows x 14 columns]>

#### Stats in pandas

In [ ]:
df.cov()

In [ ]:
#Correlation
correlation = df.corr()
correlation

In [ ]:
df["HP"].rank(ascending=True)

In [ ]:
#Mean
df["HP"].mean()

In [ ]:
# Median
df[["HP", "Attack"]].median()

In [ ]:
df["HP"].rank()

In [ ]:
df.std()

In [ ]:
df.cumsum()

In [ ]:
df.prod()

#### Exporting data from pandas

In [ ]:
new.to_csv("updated.csv")
new.to_excel("updated.xlsx")
new.to_csv("updated.txt")